body{

margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#f5f5f5;
text-align:center;

}

header{

background:white;
padding:40px;

}

.logo-container img{

width:200px;

}

.logo-container h1{

color:#d60000;
margin-top:10px;

}

.logo-container p{

color:gray;

}

.about{

padding:40px;
background:white;

}

.services{

padding:40px;

}

.service-box{

display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;

}

.card{

background:white;
padding:20px;
width:250px;
border-radius:10px;

box-shadow:0px 4px 10px rgba(0,0,0,0.2);

}

footer{

background:#333;
color:white;
padding:15px;

}
